
.App {
    text-align: center;
    font-family: Arial;
  }
  *, body, main {
    font-family: Arial;
  }
  
  /* Navbar */
  .navi {
    background-color: #F1F3FF;
    padding:0;
    padding-top: 25px;
  
  }
  
  .logo {
    width: 100px;
    height:34px;
    background-color: #0D28A6;
    margin-left: 124px;
  }
  
  .navli {
    margin-right: 237px;
    display: flex;
    grid-gap:32px;
    font-size:14px;
    font-weight: 700;
  }
  
  /* Banner */
  
  .containerBanner {
    height: 500px;
    background-color:#F1F3FF ;
  }
  .serviceContent {
      padding-left:136px;
      padding-top:115px;
  }
  .serviceHead {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
  }
  .serviceText {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    max-width: 468px;
    margin-top:8px;
  }
  
  .btn-sewa {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color:white;
    background-color:#5CB85F;
    width: 140px;
    height: 36px;
    line-height: 12px;
    padding: 8px 12px;
    gap: 10px;
    border-radius: 2px;
    cursor:pointer;
  }
  .btn-sewa1 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color:white;
    background-color:#5CB85F;
    width: 92px;
    height: 36px;
    line-height: 12px;
    padding: 8px 12px;
    border-radius: 2px;
    margin-top: 26px;
  }
  .btn-sewa2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    background-color:white;
    color: #0D28A6;
    width: 92px;
    height: 36px;
    line-height: 12px;
    padding: 8px 12px;
    border-radius: 2px;
    margin-top: 26px;
    border-width: 1px;
    border-color: #0D28A6;
  }
  .btn-sewa2:hover {
   background-color:#0D28A6;
   color:white
  }
  .carBanner {
    width:704px;
    height: 407px;
    margin-top: 93px;
    background-image: url('../public/assets/images/bg-blue.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .serv {
    margin-top: 104px;
  }
  
  .serviceHead2 {
    padding:0;
    width: 468px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    
  }
  
  .serviceText2 {
    margin-top:16px;
    font-size:14px;
    font-weight: 700;
    line-height: 20px;
    font-style: normal;
    height: 80px;
    width: 468px;
  }
  
  .serviceItem {
    margin-right: 16px;
  }
  .serviceli {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
  }
  
  .whyContainer {
    margin-left: 136px;
    margin-top: 100px;
    margin-right: 136px;
  }
  
  .whyHead {
  
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
    
  }
  
  .whyKet {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  
  .whyItem {
    margin-top:16px;
  
  
  }
  .whyText {
    font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  font-style: none;
  padding:0;
  }
  
  .whyCol {
    padding:0;
  }
  
  .textcard {
    background-color: #F1F3FF;
  }
  
  .slick-slide > div {
    margin: 0 20px;
  }
  .slick-list {
    margin: 0 -20px;
  }
  .placeH:hover {
    background-color: #5CB85F;
  }
  #accor .accordion-button.collapsed {
    padding:0;
    background-color: white;
  }
  #accor .accordion-button {
    padding:0;
    background-color: white;
    color:black;
  }
  #accor .accordion-button:not(.collapsed)::after {
    filter:brightness(0%) invert(0%);
    margin-right:6px;
  }
  #accor .accordion-button.collapsed::after {
    filter:brightness(0%) invert(0%);
    margin-right:6px;
  }
  #accor .accordion-button:focus {
    box-shadow:none;
  }

 
  .select1 {
    background-image: url('./icon/fi_calendar.svg');
  }
  .select2 {
    background-image: url('./icon/fi_clock.svg');
  }
  .select3 {
    background-image: url('./icon/fi_users.svg');
  }
 
  @media screen and (max-width: 768px){
    .logo {
      margin-left:4px;
  
    }
    .containerBanner {
      width: 100%;
      height:592px;
    }
    .serviceContent {
      margin:16px;
      padding:8px;
    }
    .serviceHead {
      width: 328px;
      height: 216px;
      
    }
    .serviceText {
      width: 328px;
      height: 60px;
      font-weight: 700;
    }
    .btn-sewa{
      margin-top: 24px;
    }
    .carBanner {
      width: 100%;
      height: 199px;
      background-image: url('../public/assets/images/bg-blue.png');
      background-repeat: no-repeat;
      background-size:  370px 118px;
      margin:0;
      padding: 0;
      float:right
      
    }
    .navli {
      
      margin-right: 0;
    }
  
    .girl {
      width: 100%;
    }
  
    .whyContainer {
      margin:0;
      padding:0;
      width: 100%;
  
    }
    .whyHead {
      text-align: center;
      
    }
    .whyKet{
      text-align: center;
    }
    .whyItem {
      /* margin-left: 60px !important; */
      display: grid !important;
      justify-content: center !important;
    }
    .whyCol {
      margin-top: 16px;
    }
    .responsiveCard {
      width: 100%;
    }
    .col-md-5 {
      margin-left :32px;
    }
    .slick-slide > div {
      margin: 0 ;
    }
    .slick-list {
      height:392px;
      
    }
  
    .stars {
      margin: auto;
    }
   
  }